@using model.viewModel
@model stockSettingsViewModel

@{
    ViewBag.Title = "Stock Form";
}

<h2>Register</h2>
@using (Html.BeginForm("_StockSettingsPartial", "Stock", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <span class="text-danger">  @Html.Raw(ViewBag.Message)</span>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ticker_minute, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ticker_minute, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ticker_minute, "", new { @class = "text-danger" })
        </div>
    </div>


       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>

}


